*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
    color: black;
}

:root{
    --background-main: #AAAE8E;
    --background-extra: #3A606E;
    --primary: #607B7D;
    --secondary: #dadec1;
}

body{
    font-size: 1.6rem;
    background: var(--background-main);
    font-family: sans-serif;
}

/*--------Mobile navbar--------*/
.navbar{
    overflow: hidden;
    background-color: var(--background-extra);
    z-index: 0;
    width: 100%;
}

.navbar__figure{
}

.navbar__hamburger{
    display: block;
    font-size: 1rem;
    margin: 2vh;
    height: 4vh;
}

.navbar__ul{
    display: none;
}

.navbar__li{
    transition: 0.2s;
    font-size: 2rem;
    font-weight: 200;
    list-style-type: none;
    margin: 1rem 0 1rem 2vh;
}

.navbar__li > a{
    text-decoration: none;
    color: black;
    border-radius: 2px;
}

@media(min-width: 700px){
    .navbar__figure{
        display: none;
    }

    .navbar__ul{
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        margin: 1rem 1rem;
        justify-content: space-between;
        row-gap: 1rem;
    }

    .navbar__li{
        height: 100%;
        margin: 0;
    }

    .navbar__li > a{
        text-align: center;
        transition: 0.3s ease-in-out;
        width: 100%;
        height: 100%;
    }

    /* Animation test */
    .navbar__li >a:hover{
        color: white;
    }
}



/* ---------- Filter -------- */
.filter__wrapper{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: var(--primary);
    margin: 1rem 0;
}

.filter__option{
    width: 100%;
    text-align: center;
    align-self: center;
}

.filter__checkbox{

}

@media(min-width: 700px){
    .filter__wrapper{
        margin: 1rem auto;
        width: 100%;
        font-size: 2.5rem;
    }
}

@media(min-width: 1200px){
    .filter__wrapper{
        margin: 2rem auto;
    }
}


/* ----- Huisdier card ------- */
.huisdierGrid__counter{
    text-align: center;
    margin: 1rem;
}

.huisdierGridCard__container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1,minmax(0,1fr));
    row-gap: 5rem;
    margin-top: 1rem;
}

.huisdierGridCard{
    width: 80%;
    height: 100%;
    justify-self: center;
}

.huisdierGridCard > a{
    text-decoration: none;
    color: black;
}

.huisdierGridCard__header{
    width: 100%;
    height: 20%;
    background-color: var(--background-extra);
    padding: 0.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.huisdierGridCard__heading{
    padding-left: 1rem;
}

.huisdierGridCard__figure{
    width: 100%;
    height: 60%;
    font-size: 0; /*Verwijdert 4px extra die worden meegegeven. */
}

.huisdierGridCard__image{
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.huisdierGridCard__textSection{
    width: 100%;
    height: 20%;
    background-color: var(--background-extra);
    padding: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.huisdierGridCard__text{

}

@media(min-width: 700px){
    .huisdierGridCard__container{
        grid-template-columns: repeat(2,minmax(0,1fr));
        row-gap: 5rem;
    }
}




/*---------Huisdier Card---------*/
.huisdierCard{
    width: 80%;
    height: 70vh;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 5vh auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: var(--background-extra);
    border-radius: 2rem;
}

.huisdierCard__header{
    background-color: var(--background-extra);
    width: 100%;
    padding: 1rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    grid-area: 1 / 1 / 3 / 7;
    display: grid;
}

.huisdierCard__title{
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 4rem;
    grid-area: 2 / 1 / 3 / 3;
}

.huisdierCard__back{
    text-align: center;
}

.huisdierCard__figure{
    max-width: 50%;
    max-height: 40vh;
    grid-area: 3 / 1 / 4 / 7;
    border: 1px solid black;
    background-color: #3A606E;
}

.huisdierCard__image{
    max-width: 100%;
    max-height: 40vh;
    object-fit: cover;
}

.huisdierCard__text{
    grid-area: 3 / 1 / 4 / 3;
    padding: 1rem;
    text-align: center;
}

.huisdierCard__sectionText{
    grid-area: 4 / 1 / 5 / 5;
    font-size: 75%;
}

.huisdierCard__sectionButton{
    grid-area: 4 / 5 / 5 / 7;
}

.huisdierCard__button{
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    background-color: rgb(85, 199, 85);
    transition: 0.2s;
    max-width: 80%;
    display: flex;
    justify-self: center;
}

.huisdierCard__buttonDelete{
    grid-area: 1 / 1 / 2 / 2;
}

.huisdierCard__buttonDelete:hover{
    grid-area: 1 / 1 / 2 / 2;
    padding: 0.7rem 1.2rem;
}

.huisdierCard__buttonBack{
    grid-area: 1 / 2 / 2 / 3;
}

.huisdierCard__buttonBack:hover{
    grid-area: 1 / 2 / 2 / 3;
    padding: 0.7rem 1.2rem;
}

.huisdierCard__oppassen{
    grid-area: 4 / 1 / 5 / 2;
}

.huisdierCard__baasje{
    grid-area: 4 / 2 / 5 / 3;
}

@media(min-width: 700px){

    .huisdierCard{
        font-size: 150%;
    }


}

/* ------User Card ------- */
.usersCard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 80vw;
    margin: 10rem auto;
}

.usersCard__header{
    grid-area: 1 / 1 / 2 / 3;
    font-size: 3rem;
    padding: 1rem;
    background-color: var(--background-extra);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.usersCard__figure{
    grid-area: 2 / 1 / 4 / 3;
    max-width: 100%;
    margin: 0 auto;
    font-size: 0; /*Verwijdert 4px extra die worden meegegeven. */
}

.usersCard__image{
    max-width: 100%;
}

.usersCard__profileInfo{
    grid-area: 4 / 1 / 5 / 3;
    background-color: var(--background-extra);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1rem;
    font-size: 2rem;
}

.usersCard__huisdierenH2{
    text-align: center;
}

.usersCard__huisdierCard{
    border: 1px solid red;
    background-color: #dadec1;
    border-radius: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;
    max-width: 90vw;
    margin: 2rem auto;
    padding: 2rem;
    align-items: center;
}

.usersCard__huisdierFigure{
    grid-area: 1 / 1 / 3 / 2;
    max-width: 20vw;
    max-height: 2fr;
}

.usersCard__huisdierImage{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: 1px black solid;
}

.usersCard__huisdierName{
    grid-area: 1 / 2 / 2 / 5;
}

.usersCard__huisdierDescription{
    grid-area: 2 / 2 / 3 / 5;
}

.usersCard__huisdierButton{
    grid-area: 1 / 5 / 3 / 6;
    padding: 3rem;
    border-radius: 50%;
}

.usersCard__logout{
    margin: 0 auto;
}

/*----- User Card - Post Review -----*/
.usersCard__postReview{
    margin: 1rem auto;
    width: 80vw;
    border: 1px solid red;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #dadec1;
}

.usersCard__postReview--h2{
    text-align: center;
}

.usersCard__postReview--form > textarea{
    width: 100%;
}

/*---------User Card - Review -----*/
.usersCard__review{
    border: 1px solid red;
    background-color: #dadec1;
    border-radius: 3rem;
    display: flex;
    max-width: 90vw;
    margin: 2rem auto;
    padding: 1.5rem;
    align-items: center;
    column-gap: 1rem;
}

.usersCard__reviewName{
    font-size: 120%;
}

.usersCard__reviewText{
    max-width: 80%;
}

/*--------Aanmeldingen----------*/
.usersCard__aanmeldingCard{
    border: 1px solid red;
    background-color: #dadec1;
    border-radius: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;
    max-width: 90vw;
    margin: 2rem auto;
    padding: 2rem;
    align-items: center;
}

.usersCard__aanmeldingTitle{
    grid-area: 1 / 1 / 2 / 2;
}

.usersCard__aanmeldingText{
    grid-area: 2 / 1/ 3 / 5;
}

.usersCard__formAccept{
    grid-area: 1 / 5 / 2 / 6;
    margin: 0 auto;
}

.usersCard__formReject{
    grid-area: 2 / 5 / 3 / 6;
    margin: 0 auto;
}

.button__True{
    background-color: green;
    opacity: 0.9;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.button__True:hover{
    padding: 1.2rem;
}

.button__False{
    background-color: red;
    opacity: 0.8;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.button__False:hover{
    padding:1.2rem
}


/* ------------Form------------*/
.huisdierForm__parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem auto;
    width: 80%;
    border: 1px solid red;
    background-color: var(--secondary);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 80%;
  }
  
  .form__div {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form__input,
  textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
  }
  
  .form__div__filebutton {
    margin-top: 0.5rem;
  }
  
  .form__div form__div__button {
    margin-top: 1.5rem;
    text-align: center;
  }
  
  @media screen and (min-width: 48rem) {
    .huisdierForm__parent {
      max-width: 60%;
    }
  
    .form__div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }


/*-----------Utilities-------------*/
.u-list-none{
    list-style: none;
}

.u-text-dec-none{
    text-decoration: none;
    color: black;
}

.u-text-center{
    text-align: center;
    margin: 0.5rem;
}

/*---------Animations--------*/
.a-popup{
    animation-name: popup;
    animation-duration: 0.5s;
}

@keyframes popup{
    0%{
        opacity: 0;
        transform: scale(1.05) translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}